<div class="container-fluid civic-app">
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6 cp-logo">
            <a href="#">
                <img src="../../assets/images/logo-lg.png" />
            </a>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 cp-welcome">
            <div class="cp-login">
                <div class="fsbtn fsbtn-blue">
                    <img src="../../assets/images/log-in-icon.png" class="cp-margin-right">
                    <a href="#" class="log-in" style="color: white; font-family: Proxima Nova">LOG IN</a>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
